h1 {
  text-decoration: underline;
}
img {
  width: 200px;
}
body {
  text-align: center;
}
body {
  text-align: center;
  font-family: "Arial";
}
body {
  text-align: center;
  font-family: "Arial";
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
